		{{#each messages}}
			<div class="alert alert-info alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				  <strong>{{this.user}}</strong> {{this.message}} 
				</div>
			</li>
		{{/each}}

