	<form role="form">
		<div class="form-group">
			<label for="message">username</label>
			{{input type=text value=user.username class='form-control'}}
		</div>
		<button type='button' {{action 'join'}} class="btn btn-primary">Join</button>
	</form>

